@model FirstMVCApplication.Models.Provider

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Provider</h4>
    <hr />

    @Html.Partial("_DetailsPartialView", Model)
    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProviderId, name = Model.ProviderName, type = Model.ProviderType }) |
    @Html.ActionLink("Back to List", "Index")
</p>
